<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

  <system.webServer>
    <defaultDocument>
      <files>
        <add value="Loginform.aspx"/>
      </files>
    </defaultDocument>
    <directoryBrowse enabled="false"/>
  </system.webServer>

  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
  </appSettings>

  <connectionStrings>
    <add name="ConnectionString" connectionString="Data Source=tod112.hib.no,1443; Initial Catalog=dat154_2; User Id=dat154_2; Password=dat154_2"
      providerName="System.Data.SqlClient" />
    <add name="dat154_2ConnectionString" connectionString="Data Source=tod112.hib.no,1443;Initial Catalog=dat154_2;User ID=dat154_2;Password=dat154_2"
      providerName="System.Data.SqlClient" />
  </connectionStrings>

    <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
    </system.web>

</configuration>
